.left-half{  
   /* border: 1px solid pink; */
   height: 620px;   
   overflow-x:hidden;
   overflow-y:hidden;
   width:100%;
   margin: 0;
   padding: 0;
   margin-bottom: 24px;
   position: relative;
}

#parent{
   position: relative;
}

.theader-background-primary{
   background-color: #428BCA;
}

.theader-background-black{
   background-color: black;
}

.white-text{
   color: white;
}

.zero-padding{
   padding: 0 !important;
}

.zero-top-margin{
   margin-top: 0 !important;
}

.leader-checkbox{
   margin-right: 8px !important;
   vertical-align: top !important;
}

.regular-marging-bottom{
   margin-bottom: 6px  !important;
}

.less-margin-bottom{
   margin-bottom: 0px !important;
}

.less-margin-top{
   margin-top: 0px;
}

.tiny-margin-top{
   margin-top: 6px !important;
}

.no-padding-right{
   padding-right: 0px !important;
}

.no-margin{
   margin: 0 !important;
}

.padding-right-reduced{
   padding-right: 12px !important;
}

.padding-left-reduced{
   padding-left: 12px !important;
}

#padding-top-ten{
   padding-top: 10px;
}

.not-bold{
   font-weight: 300 !important;
}

.margin-left-8{
   margin-left: 8px;
}

.more-margin-top{
   margin-top: 6px;
}

.more-more-margin-top{
   margin-top: 12px;
}

.margin-left{
   margin-left: 20px !important;
}

.display-inline{
   display: inline;
}
.footer-div{
   border-top: 1px solid black;
   padding: 12px;
}

.head-image{
   border: 1px solid black;
}

#mine-only{
   margin-top: 8px;
   -ms-transform: scale(1.2); /* IE */
   -moz-transform: scale(1.2); /* FF */
   transform: scale(1.2);  
}

.checkbox-label{
   font-size: 16px;
}

#myTable{
   width: 100% !important;;
}

.hide-on-load{
   display: none;
}

.table-cell-display{
   display: table-cell;
}

/*Main Form Styling*/
.main-form{
   border: 1px solid black;
   padding: 24px;
   border-radius: 12px;
   background-color: #E9ECEF;
   margin-bottom: 24px;
}

.item-details-holder{
   display: flex;
   flex-direction: row;
   justify-content:flex-start;
   margin-top: 8px;
}

.item-holder{
   width: 40%;
}

/*history elements*/
.history-element{
   margin-bottom: 18px;
}

.history-paragraph{
   border: 1px solid black;
   border-radius: 6px;
   background-color: white;;
   margin-bottom: 6px;
   padding: 12px;
}
/*panels*/
.my-panel-label{
   margin-left: 14px;
   font-size: 18px;
   min-width: 100px;
   font-weight: bold !important;
   display: inline-block;
}

.panel-content{
   font-size: 18px;
}

/*graph area on main page */
.graph-holder{
   height: 150px;  
   margin-bottom: 8px;
   padding-right: 4px;
 
}

.inside-graph-holder{
   height: 100%;
   border: 1px solid black;
   border-radius: 8px;
   background-color: #DCDCDC;
   display: flex;
   flex-direction: row;
   justify-content:space-around;
   padding: 6px;
}

.progres-holder{
   height: 100px;
   width: 100px;
}

.dashboard-label{
   font-size: 20px;
   text-align: center;
}

.info-holder{
   text-align: center;
   padding: 6px;
   border: 1px solid black;
   min-height: 150px !important;
   border-radius: 8px;
   background-color: #F8F8FF;
   margin-left: 8px;
}

.picker-holder{
   font-size: 14px !important;
   text-align: center;
}
