.left-half{  
   /* border: 1px solid pink; */
   height: 620px;   
   overflow-x:hidden;
   overflow-y:hidden;
   width:100%;
   margin: 0;
   padding: 0;
   margin-bottom: 24px;
   position: relative;
}

#parent{
   position: relative;
}

.theader-background-primary{
   background-color: #428BCA;
}

.theader-background-black{
   background-color: black;
}

.white-text{
   color: white;
}

.zero-padding{
   padding: 0 !important;
}

.zero-top-margin{
   margin-top: 0 !important;
}

.leader-checkbox{
   margin-right: 8px !important;
   vertical-align: top !important;
}

.less-margin-bottom{
   margin-bottom: 0px !important;
}

.less-margin-top{
   margin-top: 0px;
}

.tiny-margin-top{
   margin-top: 6px !important;
}

.no-margin{
   margin: 0 !important;
}

.padding-right-reduced{
   padding-right: 12px !important;
}

.padding-left-reduced{
   padding-left: 12px !important;
}

#padding-top-ten{
   padding-top: 10px;
}

.not-bold{
   font-weight: 300 !important;
}

.more-margin-top{
   margin-top: 6px;
}

.more-more-margin-top{
   margin-top: 12px;
}

.margin-left{
   margin-left: 16px;;
}

.footer-div{
   border-top: 1px solid black;
   padding: 12px;
}

.head-image{
   border: 1px solid black;
}

/*Main Form Styling*/
.main-form{
   border: 1px solid black;
   padding: 24px;
   border-radius: 12px;
   background-color: #E9ECEF;
   margin-bottom: 24px;
}

/*history elements*/
.history-element{
   margin-bottom: 18px;
}

.history-paragraph{
   border: 1px solid black;
   border-radius: 6px;
   background-color: white;;
   margin-bottom: 6px;
   padding: 12px;
}
/*panels*/
.my-panel-label{
   margin-left: 14px;
   font-size: 18px;
   min-width: 100px;
   font-weight: bold !important;
   display: inline-block;
}

.panel-content{
   font-size: 18px;
}